<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <title>CodeBlocks Console</title>
  </head>
  <body>
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-dark border-bottom shadow-sm">
      <h5 class="my-0 mr-md-auto font-weight-normal text-white" style="font-size:24pt">CodeBlocks</h5>
      <nav class="my-2 my-md-0 mr-md-3">
        <img src="logo.png" width="175px">
      </nav>
    </div>

    <div class="row" height = "100%">
        <div class="container">
          <h3> Console Output </h3>
          <p id="console"  style = "height:500px; background:gray; border-radius: 10px; padding:10px; overflow-y:scroll; color:white">
          <!--<h3 class="display-5">CodeBlocks Settings</h3>
          <p>Click the buttons below to add more CodeBlocks, or change other settings!</p> -->
        </div>
    </div>
    <div class="row">

    </div>
  </body>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script>
    window.setInterval(function(){$.ajax({url: "consoletext", success: function(result){
  document.getElementById("console").innerHTML=result;
}});},1000)
  </script>
</html>
